<h1>Current Goals</h1>

<div class="sort float-right">
  <%= form_tag goals_path, method: :get do %>
    <%= collection_select :goal, :category_id, Category.all, :id, :name, {prompt: "Sort goals by category"}, { onchange: "this.form.submit();"} %>
  <% end %>
</div>

<ul class="goals-list">
  <% @goals.each do |goal| %>
    <li><%= link_to goal.title, goal_path(goal) %></li>
  <% end %>
</ul>
