/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin-top: 50px;
}

.page-content {
    width: 95vw;
    margin: auto;
}

.field_with_errors {
    color: red;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: darkgray;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: mistyrose;
}

nav a:hover {
    color: white;
}

.logo {
    display: inline;
    font-size: 40px
}

.nav-float-right {
    display: inline-block;
    float: right;
    margin: 20px 10px 0 0;
}

.logout-button {
    display: inline-block;

}

.logout-button input {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: inherit;
}

.logout-button input:hover {
    color: white;
}

.goals-list {
    padding: 0;
    margin: 0;
    width: 100vw;
    list-style: none;
}

.goals-list li {
    padding: 5px;
    background-color: mistyrose;
}

ul.goals-list li:nth-child(odd){
    background-color: pink;
}

.delete-button {
    display: inline;
}

.notice {
    color: red;
}
