/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Oxygen', sans-serif;
}
 .image-gallery {
   /* display: grid;
   grid-column-gap: 0; */
   /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
   display: flex;
   flex-wrap: nowrap;
   width: 100vw;
   overflow: hidden;
 }

 .gallery-img{
  /* width: 100%; */
  padding: 0;
  margin: 0;
  height: 200px;
}

body {
    margin-top: 75px;
}

/* ### NAVBAR ### */

nav {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 700px;
    width: 100vw;
    height: 60px;
    background-color: #a4cecd;
}

img.logo {
    padding: 0px;
    height: 90%;
}

div.logo {
    display: inline;
    height: inherit;
}

.logo-text {
    position: absolute;
    font-size: 40px;
    display: inline-block;
    left: 40px;
    top: 5px;
}

a:hover,
.logout-button input:hover,
.delete-button input:hover {
    color: white;
}


.nav-float-right {
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.nav-float-right a, .nav-float-right .logout-button {
    display: inline-block;
    padding: 20px 5px;
}

div.block {
    display: block;
}

.logout-button, .delete-button {
    display: inline-block;

}

.logout-button input, .delete-button input {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: inherit;
}


/* ### FORM STYLE ### */

.form-wrapper {
    border-radius: 5px;
    padding: 1px 0 10px 10px;
    background-color: #a4cecd;
    max-width: 500px
}


.form-field {
    font-size: 1.1em;
    width: 95%;
    margin: 2.5px;
}

.checkbox-wrapper {
    margin: auto;
    width: 95%;
    background-color: #94ACA9;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.checkbox-wrapper label {
    display: inline-block;
}

.text-area { height: 100px }

.time-label {
    margin: 0 0 7px 0;
    display: inline-block;
}

.submit {
    display: inline-block;

}

/* ### PAGE CONTENT ### */

.page-title {
    padding-top: 10px;
    font-size: 30px;
}


.welcome { width: 200px }

a {
    text-decoration: none;
    color: black;
}

div.edit-link, div.sort, div.add-link{
    margin: 5px 0;
    background-color: #94ACA9;
    border-radius: 5px;
    padding: 5px 7px;
}


.goals-list, .steps-list {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
}

.goals-list li, .steps-list li {
    padding: 10px;
    background-color: #a4cecd;
}

ul.goals-list li:nth-child(odd), ul.steps-list li:nth-child(odd) {
    background-color: #94ACA9;
}

.float-right {
    float: right;
    padding: 0 5px;
}

.show {
    background-color: #a4cecd;
    border-radius: 5px;

}



/* ### ERRORS ###*/

.notice {
    color: red;
}

div.field_with_errors {margin: 0;}
.field_with_errors input {
    border: solid red;

}

.errors {
    color: red;
    list-style: none;
    padding: 0;
}
